.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  display: block;
  padding-top: 0.1rem;
}

.dropdown-menu {
  min-width: 6rem;
  padding: 0.3rem;
}

.empty-task-list {
  padding: 20px;
  background-color: #ffffff;
  border-color: red;
  color: red;
  border: 1px solid;
  border-radius: 0.25rem;
  text-align: center;
}



.task label.checked{
  text-decoration: line-through;
}

.form-check-input:checked {
  background-color: #198754;
  border-color: #198754;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  color: white;
  background-color: rgb(80, 80, 80);
  border-color: rgb(80, 80, 80);
}